.res{

}

.label{
	font-weight: bold;
	font-style: italic;
	font-size: 14px;
}

.btn{
	display: block;
}
#search-term {
	display: inline;
}
button, label{
	display: block;
}
input{
	display: inline;
}